<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <coinpal_pay>
                <active>1</active>
                <model>Coinpal\Checkout\Model\Pay</model>
                <title>Coinpal</title>
                <order_status>processing</order_status>
                <merchant_id />
                <api_secret />
                <store_id />
                <redirect_url>coinpal/standard/redirectpay</redirect_url>
            </coinpal_pay>
        </payment>
    </default>
</config>
